{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-min-786.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles-min-971.css' %}">
    <script src="{% static 'js/automech.js' %}"></script>
    <script src="{% static 'js/requests.js' %}"></script>
    <script src="{% static 'js/graph/graph.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $(".resizable").resizable();
        });
    </script>
    <style>
        body {
            background-image: url("{% static 'Background.png' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .resizable {
            width: 60vw;
        }

        .left-container.resizable {
            width: 30vw;
        }
    </style>
    <title>AutoMech v0</title>
</head>

<body onload="init()">

    <canvas id="graph-canvas" width="1920" height="1080"></canvas>

    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'automechlogo.png' %}">
        </div>
        <div class="version">
            <p>v0.1</p>
        </div>
        <div class="prefBtn-container">
            <button id="prefBtn" class="prefBtnStyle" onclick="darkMode()">Toggle Dark Mode</button>

        </div>
        <div class="menu">
            <div class="menu-item" id="menu-items">
                <text style="color:rgb(199, 198, 198);">Sampling rate:</text>
                <select name="samplingRate" id="samplingRate" onchange='updateSamplingRate(this.value)'>
                    <option selected="selected" value=44100>44100 Hz (default)</option>
                    <option value=48000>48000 Hz</option>
                </select>
                <text style="color:rgb(199, 198, 198);">Chunk size:</text>
                <select name="chunkSize" id="chunkSize" onchange='updateChunkSize(this.value)'>
                    <b>Chunk size</b>
                    <option value=2048>2048 samples</option>
                    <option selected="selected" value=4096>4096 samples (default)</option>
                    <option value=8192>8192 samples</option>
                </select>
            </div>
            <button class="menu-button-style" id="menu-button" onclick="menuButton()">Settings</button>
        </div>
    </nav>
    <div class="custom-select-container">

        <div class="custom-select-own">
            <select name="engcfg" id="engcfg" onchange='updateEngineCfg(this.value)'>
                <option value=0>ENGINE CONFIGURATION:</option>
                <option value=4>Straight 4</option>
                <option value=6>Straight 6</option>
            </select>
        </div>
        <div class="custom-select-own">
            <select name="firingorder" id="firingorder" onchange='updateFiringOrder(this.value)'>
                <option value=0>FIRING ORDER:</option>
                <option value="1-3-4-2">1-3-4-2</option>
                <option value="1-5-3-6-2-4">1-5-3-6-2-4</option>
            </select>
        </div>
        <div class="custom-select-own">
            <select name="inputdevice" id="inputdevice" onchange='updateInputDevice(this.value)'>
                <option value=0>INPUT DEVICE:</option>

            </select>
        </div>

    </div>
    <div class="left-right-container">
        <div class="left-box">
            <div class="measurements-title">
                <h2>MEASUREMENTS</h2>
            </div>
            <div class="left-container resizable">
                <h3>RUNTIME (seconds): </h3>
                <p id="runtime">0</p>

                <h3>ENGINE SPEED (rpm): </h3>
                <p id="rpm">0</p>

                <h3>TOTAL MISFIRES: </h3>
                <p id="totmisfires">0</p>

                <h3>CYL-1:</h3>
                <p id="misfires1">0</p>

                <h3>CYL-2:</h3>
                <p id="misfires2">0</p>

                <h3>CYL-3:</h3>
                <p id="misfires3">0</p>

                <h3>CYL-4:</h3>
                <p id="misfires4">0</p>

                <div class="start-stop-container">
                    <button id="startStopBtn" onclick="toggleBtn()">START</button>
                </div>
            </div>
        </div>

        <div class="right-box">
            <div class="waveformcontainer resizable">
                <div class="graph" id="graph-audio-1" style="height: 300px;"></div>
                <div class="graph" id="graph-audio-2" style="height: 300px;"></div>
                <div class="graph" id="graph-rpm" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
    </div>
</body>

</html>