@media only screen and (min-width: 971px) {

    body {
        background: var(--bg-color);
        color: var(--text-color);
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .custom-select-own select,
    .custom-select-own select option {
        font-size: 1vw;
        height: 2.5vw;
    }

    .navbar {
        background: var(--nav-color);
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        top: 0;
        z-index: 999;
        height: 8vw;
    }

    .logo-centered img,
    .logo-left img {
        position: absolute;
        top: 0;
        left: auto;
        right: auto;
        align-items: center;
        size: auto;
        width: 50%;
        size: 100%;
    }

    .logo-centered {
        position: absolute;
        top: 0;
        left: 43%;
        width: 30%;
    }

    .version-centered {
        position: absolute;
        bottom: 0;
        left: 55%;
        color: white;
        font-size: 1vw;
    }

    .logo-left {
        position: absolute;
        top: 0;
        left: 13%;
        width: 30%;
    }

    .version-left {
        position: absolute;
        bottom: 0;
        left: 25%;
        color: white;
        font-size: 1vw;
    }

    .preferences-container {
        position: absolute;
        display: inline-block;
        cursor: pointer;
        z-index: 1000;
        left: 5%;
    }

    .prefBtn-container {
        position: absolute;
        display: flex;
        left: 5%;
    }

    button.prefBtnStyle {
        font-size: 1vw;
        font-weight: bold;
        background-color: #da0101;
        color: rgb(199, 198, 198);
        opacity: 75%;
        display: inline-block;
        margin-right: 5px;
        margin-top: 3px;
    }

    .navbar #menu-items {
        display: none;
    }

    button.menu-button-style {
        font-size: 1vw;
        height: 50%;
        background-color: #da0101;
        padding: 0.5em 0.5em;
        font-weight: bold;
        color: rgb(199, 198, 198);
        opacity: 75%;
        float: right;
    }

    .menu {
        right: 5%;
        position: absolute;
        display: flex;
    }

    .menu-item {
        size: 1vw;
        display: inline-block;
        margin-right: 5px;
        margin-top: 3px;
    }

    .left-right-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        /*overflow-y:scroll;*/
    }

    .measurements-title {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .left-box {
        width: 30vw;
    }

    .left-box h3 {
        max-width: 50%;
        white-space: nowrap;
    }

    .left-container {
        display: flex;
        flex-wrap: wrap;
        border: 4px solid silver;
        height: 40vh;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1%;
        padding-top: 4%;
        margin-top: 10px;
        background-color: var(--lcontainer-color);
        position: relative;
        float: left;
        justify-content: space-between;
    }

    .left-container h3 {
        align-self: center;
        height: 3.1%;
        margin-left: 0.2em;
        font-size: 1.4vw;
    }

    .left-container p {
        align-self: center;
        font-size: 1.4vw;
        height: 3.1%;
        margin-right: 0.2em;
    }

    .left-container i {
        font-size: 4vw;
    }

    h2 {
        font-size: 1.0vw;
    }

    #graph-canvas {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        display: block;
    }

    .waveformcontainer {
        display: flex;
        background-color: rgb(255, 255, 255, 0);
        width: 63vw;
        margin-left: 1vw;
    }
}